.petit_carre{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 3em;
    border-radius: 10px;
}

.petit_carre >*{
    width: 25%;
}

.hih{
    display: flex;
    flex-direction: column;
    background-color: #7B7B7B;
    justify-content: space-around;
    border-radius: 10px;
}

.type_transport{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.type_transport > *{
    width: 25%;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hours{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second,.premiere{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

.second>p,.premiere>p{
    margin: 0;
    text-align: center;
}
.second{
    border-bottom: 3px solid;
    padding-bottom: 3em;
}

.classe_reserve{
    border-radius: 5px;
    box-shadow: none;
}

.VoyageEnCours{
    padding: 1em;
}