body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  var(--main-bg-color) ;
    margin: 0;
    padding: 0;
}

body> *{
    width: 100%;
}

:root{
    --main-bg-color: #1F1F1F;
    --texte-color:#7B7B7B;
    --secondery-bg-color:#C4C4C4;
    --active-bg-color:#EADDFF  ;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header>section,nav{
    display: flex;
    flex-direction: row;
}

nav{
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    align-items: center;
}

.HoraireTrajet{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.RéserverPrix{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    
}

.Trajets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%;
    border: black solid 1px;
    border-radius: 5px;
}

.common img,.common p{
    width: 50px;
    padding-right: 5px;
}
.common{
    width: 25%;
}
.Nothing{
    padding-top: 84px;
    padding-right: 2px;
    padding-left: 1px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
    color: var(--texte-color);
    height: 20vh;
    align-items: center;
}

.VoyageEnCours , .AnciensTrajets ,.Sign ,.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--secondery-bg-color);
    padding-left: 10px;
    padding-right:10px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 90%;
}
.Login , .Sign{
    width: 50%;
    align-items: center;
}

footer > section{
    display: flex;
    flex-direction: column;   
    width: 25%;
    padding-left: 25px;
    
}

footer > section > a {
    text-decoration: none;
    color: var(--texte-color);
}

footer > section >a:hover{
    text-decoration: underline;
    color:aquamarine;
}

footer > section > p{
    color: azure;
}

.trashtrain{
    color: azure;
}

nav p a{
    text-decoration: none;
    color: var(--texte-color);
}

a{
    text-decoration: none;
}

.nom{
    color: var(--texte-color);
    background-color: var(--secondery-bg-color);
    padding-left: 20px;
    padding-right:20px;
    border-radius: 100px;
}

.nom:hover , .active{
    background-color: var(--active-bg-color);
    color: var(--main-bg-color);
}

form{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    padding-bottom: 5px;
    align-items: baseline;
}

form input{
    border: none;
    border-radius: 15px;
    text-align: center;
}

.buttonimg{
    max-width: 20px;
}
.add_traject{
    text-align: center;
}

.pom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.réservation{
    border-radius: 7px;
    background-color: var(--main-bg-color);
    color: var(--secondery-bg-color);
    box-shadow: none;
    border: none;
    height: 60%;
}

.log_sect{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.valide{
    padding-top: 3vh;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.in input{
    height: 30px;
}

.valide > input, .valide > a{
    height: 40px;
    width: 45%;
}

.valide > a > input{
    height: 40px;
    width: 100%;
}


.pom{
    overflow:auto;
    height: 200px;
}

/* width */
.AnciensTrajets >::-webkit-scrollbar, {
    width: 10px;
  }
  
/* Track */
.AnciensTrajets >::-webkit-scrollbar-track {
  background: var(--texte-color);
  border-radius: 50px;
}

/* Handle */
.AnciensTrajets >::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 50px;
}

/* Handle on hover */
.AnciensTrajets >::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 90, 90);
}

.temps{
    padding-left: 10px;
    width: 17%;
    text-align: center;
}

.ma{
    margin-bottom: 5px;
    border-bottom: 1px solid var(--secondery-bg-color);
}

form > section{
    width: 40%;
}

form > section > *{
    width: 100%;
}

.Recherche > *{
    color:var(--texte-color);
}

.HoraireTrajet > section {
    width: 15%;
}

.common{
    display: flex;
}
.réservation{
    height: 100%;
}

.Nothing:first-child{
    top: 500px;
}